<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description"
    content="Cuba admin is super flexible, powerful, clean &amp; modern responsive bootstrap 5 admin template with unlimited possibilities." />
  <meta name="keywords"
    content="admin template, Cuba admin template, dashboard template, flat admin template, responsive admin template, web app" />
  <meta name="author" content="pixelstrap" />
  <link rel="icon" href="template/assets/images/favicon.png" type="image/x-icon" />
  <link rel="shortcut icon" href="template/assets/images/favicon.png" type="image/x-icon" />
  <title>Sone - Web App</title>
  <!-- Google font-->
  <link href="https://fonts.googleapis.com/css?family=Rubik:400,400i,500,500i,700,700i&amp;display=swap"
    rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900&amp;display=swap"
    rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="template/assets/css/font-awesome.css" />
  <!-- ico-font-->
  <link rel="stylesheet" type="text/css" href="template/assets/css/vendors/icofont.css" />
  <!-- Themify icon-->
  <link rel="stylesheet" type="text/css" href="template/assets/css/vendors/themify.css" />
  <!-- Flag icon-->
  <link rel="stylesheet" type="text/css" href="template/assets/css/vendors/flag-icon.css" />
  <!-- Feather icon-->
  <link rel="stylesheet" type="text/css" href="template/assets/css/vendors/feather-icon.css" />
  <!-- Plugins css start-->
  <link rel="stylesheet" type="text/css" href="template/assets/css/vendors/slick.css" />
  <link rel="stylesheet" type="text/css" href="template/assets/css/vendors/slick-theme.css" />
  <link rel="stylesheet" type="text/css" href="template/assets/css/vendors/scrollbar.css" />
  <link rel="stylesheet" type="text/css" href="template/assets/css/vendors/animate.css" />
  <!-- Plugins css Ends-->
  <!-- Bootstrap css-->
  <link rel="stylesheet" type="text/css" href="template/assets/css/vendors/bootstrap.css" />
  <!-- App css-->
  <link rel="stylesheet" type="text/css" href="template/assets/css/style.css" />
  <link id="color" rel="stylesheet" href="template/assets/css/color-1.css" media="screen" />
  <!-- Responsive css-->
  <link rel="stylesheet" type="text/css" href="template/assets/css/responsive.css" />
  <link rel="stylesheet" href="assets\css\research.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
  <!-- loader starts-->
  <div class="loader-wrapper">
    <div class="loader-index"><span></span></div>
    <svg>
      <defs></defs>
      <filter id="goo">
        <fegaussianblur in="SourceGraphic" stddeviation="11" result="blur"></fegaussianblur>
        <fecolormatrix in="blur" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9" result="goo"></fecolormatrix>
      </filter>
    </svg>
  </div>
  <!-- loader ends-->
  <!-- tap on top starts-->
  <div class="tap-top"><i data-feather="chevrons-up"></i></div>
  <!-- tap on tap ends-->
  <!-- page-wrapper Start-->

  <div class="page-wrapper compact-wrapper" id="pageWrapper">
    <!-- Page Header Start-->
    <div class="page-header">
      <div class="header-wrapper row m-0">
        <div class="header-logo-wrapper col-auto p-0">
          <div class="logo-wrapper">
            <a href="/dashboard"><img class="img-fluid" src="template/assets/images/logo/logo.png" alt="" /></a>
          </div>
          <div class="toggle-sidebar">
            <i class="status_toggle middle sidebar-toggle" data-feather="align-center"></i>
          </div>
        </div>
        <div class="search-container nav-right col-auto p-0 d-flex">
          <form id="search-form" class="d-flex justify-content-center needs-validation custom-input">
            <input id="search-input" type="text" class="form-control" placeholder="Enter search query..." />
          </form>
          <ul class="nav-menus">
            <li>
              <div class="mode">
                <svg>
                  <use href="template/assets/svg/icon-sprite.svg#moon"></use>
                </svg>
              </div>
            </li>
          </ul>
        </div>
        <script class="result-template" type="text/x-handlebars-template">
            <div class="ProfileCard u-cf">
              <div class="ProfileCard-avatar"><svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="feather feather-airplay m-0"
                ><path
                    d="M5 17H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-1"
                  ></path><polygon
                    points="12 15 17 21 7 21 12 15"
                  ></polygon></svg></div>
              <div class="ProfileCard-details">
                <div class="ProfileCard-realName">{{name}}</div>
              </div>
            </div>
          </script>
        <script class="empty-template" type="text/x-handlebars-template">
            <div class="EmptyMessage">Your search turned up 0 results. This most
              likely means the backend is down, yikes!</div>
          </script>
      </div>
    </div>

    <div class="page-body-wrapper">
      <div class="sidebar-wrapper" sidebar-layout="stroke-svg">
        <div>
          <div class="logo-wrapper">
            <a href="index.html"><img class="img-fluid for-light" src="template/assets/images/logo/logo.png"
                alt="" /><img class="img-fluid for-dark" src="template/assets/images/logo/logo_dark.png" alt="" /></a>
            <div class="back-btn"><i class="fa fa-angle-left"></i></div>
            <div class="toggle-sidebar">
              <i class="status_toggle middle sidebar-toggle" data-feather="grid">
              </i>
            </div>
          </div>
          <div class="logo-icon-wrapper">
            <a href="index.html"><img class="img-fluid" src="template/assets/images/logo/logo-icon.png" alt="" /></a>
          </div>
          <nav class="sidebar-main">
            <div class="left-arrow" id="left-arrow">
              <i data-feather="arrow-left"></i>
            </div>
            <div id="sidebar-menu">
              <ul class="sidebar-links" id="simple-bar">
                <li class="back-btn">
                  <a href="index.html"><img class="img-fluid" src="template/assets/images/logo/logo-icon.png"
                      alt="" /></a>
                  <div class="mobile-back text-end">
                    <span>Back</span><i class="fa fa-angle-right ps-2" aria-hidden="true"></i>
                  </div>
                </li>
                <li class="pin-title sidebar-main-title">
                  <div>
                    <h6>Pinned</h6>
                  </div>
                </li>
                <li class="sidebar-main-title">
                  <div>
                    <h6 class="lan-1">General</h6>
                  </div>
                </li>

                <li class="sidebar-list">
                  <i class="fa fa-thumb-tack"></i><a class="sidebar-link sidebar-title" href="#">
                    <svg class="stroke-icon">
                      <use href="template/assets/svg/icon-sprite.svg#stroke-widget"></use>
                    </svg>
                    <svg class="fill-icon">
                      <use href="template/assets/svg/icon-sprite.svg#fill-widget"></use>
                    </svg><span class="lan-6">Widgets</span></a>
                  <ul class="sidebar-submenu">
                    <li><a href="general-widget.html">General</a></li>
                    <li><a href="chart-widget.html">Chart</a></li>
                  </ul>
                </li>
              </ul>
            </div>
            <div class="right-arrow" id="right-arrow">
              <i data-feather="arrow-right"></i>
            </div>
          </nav>
        </div>
      </div>
      <!-- Page Sidebar Ends-->
      <div class="page-body">
        <div class="container-fluid">
          <div class="page-title ">
            <div class="row mt-3">
              <div class="col-12">
                <h4>Research and Converter</h4>
              </div>
            </div>
          </div>
        </div>
        <div class="container-fluid">
          <div class="row size-column">
            <div class="col-12">
              <div class="search-results">
                <div class="row" id="search-results"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- footer start-->
      <footer class="footer">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12 footer-copyright text-center">
              <p class="mb-0">Copyright 2024 © Sone Converter</p>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </div>

  <script src="assets\js\research.js"></script>
  <!-- latest jquery-->
  <script src="template/assets/js/jquery.min.js"></script>
  <!-- Bootstrap js-->
  <script src="template/assets/js/bootstrap/bootstrap.bundle.min.js"></script>
  <!-- feather icon js-->
  <script src="template/assets/js/icons/feather-icon/feather.min.js"></script>
  <script src="template/assets/js/icons/feather-icon/feather-icon.js"></script>
  <!-- scrollbar js-->
  <script src="template/assets/js/scrollbar/simplebar.js"></script>
  <script src="template/assets/js/scrollbar/custom.js"></script>
  <!-- Sidebar jquery-->
  <script src="template/assets/js/config.js"></script>
  <!-- Plugins JS start-->
  <script src="template/assets/js/sidebar-menu.js"></script>
  <script src="template/assets/js/sidebar-pin.js"></script>
  <script src="template/assets/js/slick/slick.min.js"></script>
  <script src="template/assets/js/slick/slick.js"></script>
  <script src="template/assets/js/header-slick.js"></script>

  <script src="template/assets/js/counter/jquery.waypoints.min.js"></script>
  <script src="template/assets/js/counter/jquery.counterup.min.js"></script>
  <script src="template/assets/js/counter/counter-custom.js"></script>
  <script src="template/assets/js/animation/wow/wow.min.js"></script>
  <!-- Plugins JS Ends-->
  <!-- Theme js-->
  <script src="template/assets/js/script.js"></script>
  <script>
    new WOW().init();
  </script>
</body>

</html>